docs/ui/breadcrumbs.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Хлебные крошки</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Хлебные крошки со слешем</div>
              <div class="tmp__box">
                <nav class="breadcrumbs"><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 1</a><span class="breadcrumbs__separator" role="presentation">/</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 2</a><span class="breadcrumbs__separator" role="presentation">/</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 3</a><span class="breadcrumbs__separator" role="presentation">/</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 4</a><span class="breadcrumbs__separator" role="presentation">/</span></span></nav>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Хлебные крошки с тире</div>
              <div class="tmp__box">
                <nav class="breadcrumbs"><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 1</a><span class="breadcrumbs__separator" role="presentation">–</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 2</a><span class="breadcrumbs__separator" role="presentation">–</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 3</a><span class="breadcrumbs__separator" role="presentation">–</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 4</a><span class="breadcrumbs__separator" role="presentation">–</span></span></nav>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Хлебные крошки с точкой</div>
              <div class="tmp__box">
                <nav class="breadcrumbs"><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 1</a><span class="breadcrumbs__separator" role="presentation">&#8226;</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 2</a><span class="breadcrumbs__separator" role="presentation">&#8226;</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 3</a><span class="breadcrumbs__separator" role="presentation">&#8226;</span></span><span class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" role="link">Хлебная крошка 4</a><span class="breadcrumbs__separator" role="presentation">&#8226;</span></span></nav>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/breadcrumbs.pug
extends ../../layouts/main-dir

block variables
  - var title = "Хлебные крошки"
  - var pageClass = ''
  - var activePage = 'breadcrumbs'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Хлебные крошки со слешем
        .tmp__box
          nav.breadcrumbs
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 1
              span.breadcrumbs__separator(role="presentation") /
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 2
              span.breadcrumbs__separator(role="presentation") /
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 3
              span.breadcrumbs__separator(role="presentation") /
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 4
              span.breadcrumbs__separator(role="presentation") /
      .tmp__row
        .tmp__title Хлебные крошки с тире
        .tmp__box
          nav.breadcrumbs
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 1
              span.breadcrumbs__separator(role="presentation") –
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 2
              span.breadcrumbs__separator(role="presentation") –
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 3
              span.breadcrumbs__separator(role="presentation") –
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 4
              span.breadcrumbs__separator(role="presentation") –
      .tmp__row
        .tmp__title Хлебные крошки с точкой
        .tmp__box
          nav.breadcrumbs
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 1
              span.breadcrumbs__separator(role="presentation") &#8226;
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 2
              span.breadcrumbs__separator(role="presentation") &#8226;
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 3
              span.breadcrumbs__separator(role="presentation") &#8226;
            span.breadcrumbs__item
              a.breadcrumbs__link(href="#" role="link") Хлебная крошка 4
              span.breadcrumbs__separator(role="presentation") &#8226;
