src/pages/ui/buttons.pug
extends ../../layouts/main-dir

block variables
  - var title = "Кнопки"
  - var pageClass = ''
  - var activePage = 'buttons'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Кнопки по типу
        .tmp__box
          button.button.button_view_primary.button_size_medium
            span.button__text primary
          button.button.button_view_secondary.button_size_medium
            span.button__text secondary
          button.button.button_view_tertiary.button_size_medium
            span.button__text tertiary
          button.button.button_view_outline.button_size_medium
            span.button__text outline
          button.button.button_view_slider.button_size_medium
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")

      .tmp__row
        .tmp__title Кнопки c иконкой и круглые
        .tmp__box
          button.button.button_view_primary.button_size_medium
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")

          button.button.button_view_primary.button_size_medium.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")

          button.button.button_view_slider.button_size_medium.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")

      .tmp__row
        .tmp__title Кнопки c округлением
        .tmp__box
          button.button.button_view_primary.button_size_medium.button_rounded
            span.button__text primary

      .tmp__row
        .tmp__title Кнопки c размером
        .tmp__box
          button.button.button_view_primary.button_size_small
            span.button__text primary
          button.button.button_view_primary.button_size_medium
            span.button__text primary
          button.button.button_view_primary.button_size_large
            span.button__text primary

          button.button.button_view_slider.button_size_small.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")
          button.button.button_view_slider.button_size_medium.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")

          button.button.button_view_slider.button_size_large.button_circle
            i.icon.button__icon
              svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")



      .tmp__row
        .tmp__title Кнопки c иконкой до и после текста
        .tmp__box
          button.button.button_view_primary.button_size_medium
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
            span.button__text primary

          button.button.button_view_primary.button_size_medium
            span.button__text primary
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")

      .tmp__row
        .tmp__title Кнопка c загрузкой
        .tmp__box
          button.button.button_view_primary.button_size_medium.button_loading
            i.icon.button__icon.button__loader
              svg.spinner(viewBox="0 0 50 50")
                circle.path(cx="25" cy="25" r="20" fill="none" stroke-width="5")
            span.button__text primary
          button.button.button_view_outline.button_size_medium.button_loading
            i.icon.button__icon.button__loader
              svg.spinner.spinner_primary(viewBox="0 0 50 50")
                circle.path(cx="25" cy="25" r="20" fill="none" stroke-width="5")
            span.button__text primary


      .tmp__row
        .tmp__title Кнопки на всю ширину
        .tmp__box
          button.button.button_view_primary.button_size_medium.button_width_avalibale
            i.icon.button__icon
              svg(viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z")
            span.button__text primary

docs/ui/buttons.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Кнопки</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопки по типу</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_medium"><span class="button__text">primary</span></button>
                <button class="button button_view_secondary button_size_medium"><span class="button__text">secondary</span></button>
                <button class="button button_view_tertiary button_size_medium"><span class="button__text">tertiary</span></button>
                <button class="button button_view_outline button_size_medium"><span class="button__text">outline</span></button>
                <button class="button button_view_slider button_size_medium"><i class="icon button__icon">
                    <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                    </svg></i></button>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопки c иконкой и круглые</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_medium"><i class="icon button__icon">
                    <svg viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z"></path>
                    </svg></i></button>
                <button class="button button_view_primary button_size_medium button_circle"><i class="icon button__icon">
                    <svg viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z"></path>
                    </svg></i></button>
                <button class="button button_view_slider button_size_medium button_circle"><i class="icon button__icon">
                    <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                    </svg></i></button>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопки c округлением</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_medium button_rounded"><span class="button__text">primary</span></button>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопки c размером</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_small"><span class="button__text">primary</span></button>
                <button class="button button_view_primary button_size_medium"><span class="button__text">primary</span></button>
                <button class="button button_view_primary button_size_large"><span class="button__text">primary</span></button>
                <button class="button button_view_slider button_size_small button_circle"><i class="icon button__icon">
                    <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                    </svg></i></button>
                <button class="button button_view_slider button_size_medium button_circle"><i class="icon button__icon">
                    <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                    </svg></i></button>
                <button class="button button_view_slider button_size_large button_circle"><i class="icon button__icon">
                    <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                    </svg></i></button>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопки c иконкой до и после текста</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_medium"><i class="icon button__icon">
                    <svg viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z"></path>
                    </svg></i><span class="button__text">primary</span></button>
                <button class="button button_view_primary button_size_medium"><span class="button__text">primary</span><i class="icon button__icon">
                    <svg viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z"></path>
                    </svg></i></button>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопка c загрузкой</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_medium button_loading"><i class="icon button__icon button__loader">
                    <svg class="spinner" viewBox="0 0 50 50">
                      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg></i><span class="button__text">primary</span></button>
                <button class="button button_view_outline button_size_medium button_loading"><i class="icon button__icon button__loader">
                    <svg class="spinner spinner_primary" viewBox="0 0 50 50">
                      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg></i><span class="button__text">primary</span></button>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Кнопки на всю ширину</div>
              <div class="tmp__box">
                <button class="button button_view_primary button_size_medium button_width_avalibale"><i class="icon button__icon">
                    <svg viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.5 6H8.50002V0H6.50002V6H0.500015V8H6.50002V14H8.50002V8H14.5V6Z"></path>
                    </svg></i><span class="button__text">primary</span></button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
