docs/ui/checkbox.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Чекбоксы</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы</div>
              <div class="tmp__box">
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox"><span class="checkbox__input-decore"></span>
                </label>
                <label class="checkbox checkbox_theme_black">
                  <input class="checkbox__input-original" type="checkbox"><span class="checkbox__input-decore"></span>
                </label>
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox" disabled><span class="checkbox__input-decore"></span>
                </label>
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox" checked><span class="checkbox__input-decore"></span>
                </label>
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox" checked disabled><span class="checkbox__input-decore"></span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы c label</div>
              <div class="tmp__box">
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox"><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox" disabled><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox" checked><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
                <label class="checkbox">
                  <input class="checkbox__input-original" type="checkbox" checked disabled><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы c label(обратные)</div>
              <div class="tmp__box">
                <label class="checkbox checkbox_reverse">
                  <input class="checkbox__input-original" type="checkbox"><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
                <label class="checkbox checkbox_reverse">
                  <input class="checkbox__input-original" type="checkbox" disabled><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
                <label class="checkbox checkbox_reverse">
                  <input class="checkbox__input-original" type="checkbox" checked><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
                <label class="checkbox checkbox_reverse">
                  <input class="checkbox__input-original" type="checkbox" checked disabled><span class="checkbox__input-decore"></span><span class="checkbox__label">Simple checkbox</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/checkbox.pug
extends ../../layouts/main-dir

block variables
  - var title = "Чекбоксы"
  - var pageClass = ''
  - var activePage = 'checkbox'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Контролы
        .tmp__box
          label.checkbox
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
          label.checkbox.checkbox_theme_black
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
          label.checkbox
            input.checkbox__input-original(type='checkbox' disabled)
            span.checkbox__input-decore
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked)
            span.checkbox__input-decore
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked disabled)
            span.checkbox__input-decore
      .tmp__row
        .tmp__title Контролы c label
        .tmp__box
          label.checkbox
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox
            input.checkbox__input-original(type='checkbox' disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox
            input.checkbox__input-original(type='checkbox' checked disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
      .tmp__row
        .tmp__title Контролы c label(обратные)
        .tmp__box
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox')
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox' disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox' checked)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
          label.checkbox.checkbox_reverse
            input.checkbox__input-original(type='checkbox' checked disabled)
            span.checkbox__input-decore
            span.checkbox__label Simple checkbox
