docs/ui/form.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Формы</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Элементы формы</div>
              <div class="tmp__box">
                <div class="form-field">
                  <label class="form-field__label">Имя</label>
                  <div class="input form-field__control">
                    <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                  </div>
                </div>
                <div class="form-field form-field_error">
                  <label class="form-field__label">Имя</label>
                  <div class="input input_error form-field__control">
                    <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                  </div>
                  <div class="form-field__error">Message error</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/form.pug
extends ../../layouts/main-dir

block variables
  - var title = "Формы"
  - var pageClass = ''
  - var activePage = 'form'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Элементы формы
        .tmp__box
          .form-field
            label.form-field__label Имя
            .input.form-field__control
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
          .form-field.form-field_error
            label.form-field__label Имя
            .input.input_error.form-field__control
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
            .form-field__error Message error
