docs/ui/input.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Инпуты</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Инпуты</div>
              <div class="tmp__box">
                <div class="input">
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                </div>
              </div>
              <div class="tmp__box">
                <div class="input">
                  <textarea class="input__input" placeholder="Введите" autocomplete="off"></textarea>
                </div>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Инпуты отключен</div>
              <div class="tmp__box">
                <div class="input input_disabled">
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off" disabled>
                </div>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Инпуты с иконками</div>
              <div class="tmp__box">
                <div class="input input_icon-right">
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off"><span class="input__suffix"><i class="icon input__icon input__icon_clear" tabindex="0"><img src="../assets/images/icons/clear.svg"></i></span>
                </div>
                <div class="input input_icon-left"><span class="input__prefix"><i class="icon input__icon input__icon_clear" tabindex="0"><img src="../assets/images/icons/clear.svg"></i></span>
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                </div>
                <div class="input input_disabled input_icon-left"><span class="input__prefix"><i class="icon input__icon input__icon_clear"><img src="../assets/images/icons/clear.svg"></i></span>
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off" disabled>
                </div>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Инпуты состояния</div>
              <div class="tmp__box">
                <div class="input input_disabled">
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off" disabled>
                </div>
                <div class="input input_error">
                  <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Инпуты c группировкой</div>
              <div class="tmp__box">
                <div class="input input_group-prepend"><span class="input__prepend">123</span>
                  <div class="input__inner">
                    <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                  </div>
                </div>
                <div class="input input_group-append">
                  <div class="input__inner">
                    <input class="input__input" type="text" placeholder="Введите" autocomplete="off">
                  </div><span class="input__append">123</span>
                </div>
                <div class="input input_group-append input_icon-right">
                  <div class="input__inner">
                    <input class="input__input" type="text" placeholder="Введите" autocomplete="off"><span class="input__suffix"><i class="icon input__icon input__icon_clear" tabindex="0"><img src="../assets/images/icons/clear.svg"></i></span>
                  </div><span class="input__append">123</span>
                </div>
                <div class="input input_group-both input_icon-right"><span class="input__prepend">123</span>
                  <div class="input__inner">
                    <input class="input__input" type="text" placeholder="Введите" autocomplete="off"><span class="input__suffix"><i class="icon input__icon input__icon_clear" tabindex="0"><img src="../assets/images/icons/clear.svg"></i></span>
                  </div><span class="input__append">123</span>
                </div>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Инпуты с номером</div>
              <div class="tmp__box">
                <div class="input input_icon-left"><span class="input__prefix"><span>+7</span></span>
                  <input class="input__input" type="text" placeholder="(999)999-99-99" autocomplete="off">
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/input.pug
extends ../../layouts/main-dir

block variables
  - var title = "Инпуты"
  - var pageClass = ''
  - var activePage = 'radio'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Инпуты
        .tmp__box
          .input
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
        .tmp__box
          .input
            textarea.input__input(placeholder='Введите' autocomplete="off")
      .tmp__row
        .tmp__title Инпуты отключен
        .tmp__box
          .input.input_disabled
            input.input__input(type="text" placeholder='Введите' autocomplete="off" disabled)
      .tmp__row
        .tmp__title Инпуты с иконками
        .tmp__box
          .input.input_icon-right
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
            span.input__suffix
              i.icon.input__icon.input__icon_clear(tabindex=0)
                img(src='../assets/images/icons/clear.svg')
          .input.input_icon-left
            span.input__prefix
              i.icon.input__icon.input__icon_clear(tabindex=0)
                img(src='../assets/images/icons/clear.svg')
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
          .input.input_disabled.input_icon-left
            span.input__prefix
              i.icon.input__icon.input__icon_clear
                img(src='../assets/images/icons/clear.svg')
            input.input__input(type="text" placeholder='Введите' autocomplete="off" disabled)
      .tmp__row
        .tmp__title Инпуты состояния
        .tmp__box
          .input.input_disabled
            input.input__input(type="text" placeholder='Введите' autocomplete="off" disabled)
          .input.input_error
            input.input__input(type="text" placeholder='Введите' autocomplete="off")
      .tmp__row
        .tmp__title Инпуты c группировкой
        .tmp__box
          .input.input_group-prepend
            span.input__prepend 123
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
          .input.input_group-append
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
            span.input__append 123
          .input.input_group-append.input_icon-right
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
              span.input__suffix
                i.icon.input__icon.input__icon_clear(tabindex=0)
                  img(src='../assets/images/icons/clear.svg')
            span.input__append 123
          .input.input_group-both.input_icon-right
            span.input__prepend 123
            .input__inner
              input.input__input(type="text" placeholder='Введите' autocomplete="off")
              span.input__suffix
                i.icon.input__icon.input__icon_clear(tabindex=0)
                  img(src='../assets/images/icons/clear.svg')
            span.input__append 123
      .tmp__row
        .tmp__title Инпуты с номером
        .tmp__box
          .input.input_icon-left
            span.input__prefix
              span +7
            input.input__input(type="text" placeholder='(999)999-99-99' autocomplete="off")
