docs/ui/list.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Счетчик</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Список ненумерованный</div>
              <div class="tmp__box">
                <ul class="list">
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                </ul>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Список нумерованный</div>
              <div class="tmp__box">
                <ol class="list">
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                  <li>Константинопольский</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/list.pug
extends ../../layouts/main-dir

block variables
  - var title = "Счетчик"
  - var pageClass = ''
  - var activePage = 'counter'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Список ненумерованный
        .tmp__box
          ul.list
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
      .tmp__row
        .tmp__title Список нумерованный
        .tmp__box
          ol.list
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
            li Константинопольский
