docs/ui/radio.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Радио кнопки</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы</div>
              <div class="tmp__box">
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_1"><span class="radio__input-decore"></span>
                </label>
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_1" disabled><span class="radio__input-decore"></span>
                </label>
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_1" checked><span class="radio__input-decore"></span>
                </label>
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_3" checked disabled><span class="radio__input-decore"></span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы c label</div>
              <div class="tmp__box">
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_2"><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_2" disabled><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_2" checked><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
                <label class="radio">
                  <input class="radio__input-original" type="radio" name="radio_4" checked disabled><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы c label(обратные)</div>
              <div class="tmp__box">
                <label class="radio radio_reverse">
                  <input class="radio__input-original" type="radio" name="radio_5"><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
                <label class="radio radio_reverse">
                  <input class="radio__input-original" type="radio" name="radio_5" disabled><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
                <label class="radio radio_reverse">
                  <input class="radio__input-original" type="radio" name="radio_5" checked><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
                <label class="radio radio_reverse">
                  <input class="radio__input-original" type="radio" name="radio_6" checked disabled><span class="radio__input-decore"></span><span class="radio__label">Simple radio</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/radio.pug
extends ../../layouts/main-dir

block variables
  - var title = "Радио кнопки"
  - var pageClass = ''
  - var activePage = 'radio'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Контролы
        .tmp__box
          label.radio
            input.radio__input-original(type='radio' name="radio_1")
            span.radio__input-decore
          label.radio
            input.radio__input-original(type='radio' name="radio_1" disabled)
            span.radio__input-decore
          label.radio
            input.radio__input-original(type='radio' name="radio_1" checked)
            span.radio__input-decore
          label.radio
            input.radio__input-original(type='radio' name="radio_3" checked disabled)
            span.radio__input-decore
      .tmp__row
        .tmp__title Контролы c label
        .tmp__box
          label.radio
            input.radio__input-original(type='radio' name="radio_2")
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio
            input.radio__input-original(type='radio' name="radio_2" disabled)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio
            input.radio__input-original(type='radio' name="radio_2" checked)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio
            input.radio__input-original(type='radio' name="radio_4" checked disabled)
            span.radio__input-decore
            span.radio__label Simple radio
      .tmp__row
        .tmp__title Контролы c label(обратные)
        .tmp__box
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_5")
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_5" disabled)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_5" checked)
            span.radio__input-decore
            span.radio__label Simple radio
          label.radio.radio_reverse
            input.radio__input-original(type='radio' name="radio_6" checked disabled)
            span.radio__input-decore
            span.radio__label Simple radio
