docs/ui/select.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Инпуты</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Селект</div>
              <div class="tmp__box">
                <div class="select">
                  <header class="select__header">
                    <div class="input input_icon-right">
                      <input class="input__input select__input" type="text" readonly autocomplete="off" value="Option 2"><span class="input__suffix"><i class="icon input__icon input__icon_arrow select__arrow"><img src="../assets/images/icons/arrow-down.svg"></i></span>
                    </div>
                  </header>
                  <main class="select__main">
                    <div class="select__content">
                      <div class="select__item">Option 1</div>
                      <div class="select__item select__item_selected">Option 2</div>
                      <div class="select__item">Option 3</div>
                    </div>
                  </main>
                </div>
                <div class="select select_open">
                  <header class="select__header">
                    <div class="input input_icon-right">
                      <input class="input__input select__input" type="text" readonly autocomplete="off" value="Option 2"><span class="input__suffix"><i class="icon input__icon input__icon_arrow select__arrow"><img src="../assets/images/icons/arrow-down.svg"></i></span>
                    </div>
                  </header>
                  <main class="select__main">
                    <div class="select__content">
                      <div class="select__item">Option 1</div>
                      <div class="select__item select__item_selected">Option 2</div>
                      <div class="select__item">Option 3</div>
                      <div class="select__item select__item_disabled">Option 4</div>
                      <div class="select__submain">
                        <div class="select__item"><span>Option 5</span><span class="select__item-arrow"><span class="icon"><img src="../assets/images/icons/arrow-right.svg"></span></span></div>
                        <div class="select__content">
                          <div class="select__item">Option 1</div>
                          <div class="select__item">Option 2</div>
                          <div class="select__item select__item_selected">Option 3</div>
                          <div class="select__item">Option 4</div>
                        </div>
                      </div>
                      <div class="select__item">Option 6</div>
                    </div>
                  </main>
                </div>
                <div class="select select_disabled">
                  <header class="select__header">
                    <div class="input input_icon-right">
                      <input class="input__input select__input" type="text" readonly autocomplete="off" value="Option 2"><span class="input__suffix"><i class="icon input__icon input__icon_arrow select__arrow"><img src="../assets/images/icons/arrow-down.svg"></i></span>
                    </div>
                  </header>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/select.pug
extends ../../layouts/main-dir

block variables
  - var title = "Инпуты"
  - var pageClass = ''
  - var activePage = 'radio'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Селект
        .tmp__box
          .select
            header.select__header
              .input.input_icon-right
                input.input__input.select__input(type="text" readonly autocomplete="off" value="Option 2")
                span.input__suffix
                  i.icon.input__icon.input__icon_arrow.select__arrow
                    img(src='../assets/images/icons/arrow-down.svg')
            main.select__main
              .select__content
                .select__item Option 1
                .select__item.select__item_selected Option 2
                .select__item Option 3
          .select.select_open
            header.select__header
              .input.input_icon-right
                input.input__input.select__input(type="text" readonly autocomplete="off" value="Option 2")
                span.input__suffix
                  i.icon.input__icon.input__icon_arrow.select__arrow
                    img(src='../assets/images/icons/arrow-down.svg')
            main.select__main
              .select__content
                .select__item Option 1
                .select__item.select__item_selected Option 2
                .select__item Option 3
                .select__item.select__item_disabled Option 4
                .select__submain
                  .select__item
                    span Option 5
                    span.select__item-arrow
                      span.icon
                        img(src='../assets/images/icons/arrow-right.svg')
                  .select__content
                    .select__item Option 1
                    .select__item Option 2
                    .select__item.select__item_selected Option 3
                    .select__item Option 4
                .select__item Option 6

          .select.select_disabled
            header.select__header
              .input.input_icon-right
                input.input__input.select__input(type="text" readonly autocomplete="off" value="Option 2")
                span.input__suffix
                  i.icon.input__icon.input__icon_arrow.select__arrow
                    img(src='../assets/images/icons/arrow-down.svg')
