docs/ui/slider.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Слайдер</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Слайдеры</div>
              <div class="tmp__box">
                <div class="slider js-slider-default">
                  <div class="slider__slider swiper-container">
                    <div class="slider__wrapper swiper-wrapper">
                      <div class="slider__slide swiper-slide board"><span class="board__overlay"></span>
                        <div class="board__image"><img src="../assets/images/banner.jpg"></div>
                        <div class="board__content board__content_slider">
                          <div class="board__title">Новая акция</div>
                          <div class="board__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</div>
                          <div class="button-group board__button-group">
                            <button class="button button_view_primary button_size_large"><span class="button__text">Подробнее</span></button>
                          </div>
                        </div>
                      </div>
                      <div class="slider__slide swiper-slide board"><span class="board__overlay"></span>
                        <div class="board__image"><img src="../assets/images/banner.jpg"></div>
                        <div class="board__content board__content_slider">
                          <div class="board__title">Новая акция</div>
                          <div class="board__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</div>
                          <div class="button-group board__button-group">
                            <button class="button button_view_primary button_size_large"><span class="button__text">Подробнее</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slider__navs">
                    <button class="button button_view_slider button_size_medium button_circle slider__nav slider__nav_prev"><i class="icon button__icon">
                        <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                        </svg></i></button>
                    <button class="button button_view_slider button_size_medium button_circle slider__nav slider__nav_next"><i class="icon icon_rotate_180deg button__icon">
                        <svg viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002"></path>
                        </svg></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/slider.pug
extends ../../layouts/main-dir

block variables
  - var title = "Слайдер"
  - var pageClass = ''
  - var activePage = 'slider'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Слайдеры
        .tmp__box
          .slider.js-slider-default
            .slider__slider.swiper-container
              .slider__wrapper.swiper-wrapper
                .slider__slide.swiper-slide.board
                  span.board__overlay
                  .board__image
                    img(src='../assets/images/banner.jpg')
                  .board__content.board__content_slider
                    .board__title Новая акция
                    .board__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                    .button-group.board__button-group
                      button.button.button_view_primary.button_size_large
                        span.button__text Подробнее
                .slider__slide.swiper-slide.board
                  span.board__overlay
                  .board__image
                    img(src='../assets/images/banner.jpg')
                  .board__content.board__content_slider
                    .board__title Новая акция
                    .board__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                    .button-group.board__button-group
                      button.button.button_view_primary.button_size_large
                        span.button__text Подробнее
            .slider__navs
                button.button.button_view_slider.button_size_medium.button_circle.slider__nav.slider__nav_prev
                  i.icon.button__icon
                    svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")
                button.button.button_view_slider.button_size_medium.button_circle.slider__nav.slider__nav_next
                  i.icon.icon_rotate_180deg.button__icon
                    svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M8.60001 16.2L2.10711 9.70712C1.71659 9.3166 1.71659 8.68344 2.10711 8.29291L8.60001 1.80002")
