src/pages/ui/switch.pug
extends ../../layouts/main-dir

block variables
  - var title = "Свитчер"
  - var pageClass = ''
  - var activePage = 'switch'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Контролы(checkbox)
        .tmp__box
          label.switch
            input.switch__input-original(type='checkbox')
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='checkbox' disabled)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='checkbox' checked)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='checkbox' checked disabled)
            span.switch__input-decore
      .tmp__row
        .tmp__title Контролы(radio)
        .tmp__box
          label.switch
            input.switch__input-original(type='radio' name="switch_1")
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='radio' name="switch_1" disabled)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='radio' name="switch_1" checked)
            span.switch__input-decore
          label.switch
            input.switch__input-original(type='radio' name="switch_2" checked disabled)
            span.switch__input-decore
      .tmp__row
        .tmp__title Контролы(checkbox) c label
        .tmp__box
          label.switch
            input.switch__input-original(type='checkbox')
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch
            input.switch__input-original(type='checkbox' disabled)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch
            input.switch__input-original(type='checkbox' checked)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch
            input.switch__input-original(type='checkbox' checked disabled)
            span.switch__input-decore
            span.switch__label Simple switch
      .tmp__row
        .tmp__title Контролы(checkbox) c label (обратные)
        .tmp__box
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox')
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox' disabled)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox' checked)
            span.switch__input-decore
            span.switch__label Simple switch
          label.switch.switch_reverse
            input.switch__input-original(type='checkbox' checked disabled)
            span.switch__input-decore
            span.switch__label Simple switch

docs/ui/switch.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Свитчер</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы(checkbox)</div>
              <div class="tmp__box">
                <label class="switch">
                  <input class="switch__input-original" type="checkbox"><span class="switch__input-decore"></span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="checkbox" disabled><span class="switch__input-decore"></span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="checkbox" checked><span class="switch__input-decore"></span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="checkbox" checked disabled><span class="switch__input-decore"></span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы(radio)</div>
              <div class="tmp__box">
                <label class="switch">
                  <input class="switch__input-original" type="radio" name="switch_1"><span class="switch__input-decore"></span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="radio" name="switch_1" disabled><span class="switch__input-decore"></span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="radio" name="switch_1" checked><span class="switch__input-decore"></span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="radio" name="switch_2" checked disabled><span class="switch__input-decore"></span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы(checkbox) c label</div>
              <div class="tmp__box">
                <label class="switch">
                  <input class="switch__input-original" type="checkbox"><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="checkbox" disabled><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="checkbox" checked><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
                <label class="switch">
                  <input class="switch__input-original" type="checkbox" checked disabled><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Контролы(checkbox) c label (обратные)</div>
              <div class="tmp__box">
                <label class="switch switch_reverse">
                  <input class="switch__input-original" type="checkbox"><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
                <label class="switch switch_reverse">
                  <input class="switch__input-original" type="checkbox" disabled><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
                <label class="switch switch_reverse">
                  <input class="switch__input-original" type="checkbox" checked><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
                <label class="switch switch_reverse">
                  <input class="switch__input-original" type="checkbox" checked disabled><span class="switch__input-decore"></span><span class="switch__label">Simple switch</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
