docs/ui/tabs.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Табы</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row"><a class="tmp__title" href="/">Вернутся на главную</a></div>
            <div class="tmp__row">
              <div class="tmp__title">Табы стандартные</div>
              <div class="tmp__box">
                <div class="tabs" data-tabs="1">
                  <header class="tabs__header">
                    <div class="tabs__nav" role="tablist">
                      <button class="tabs__tab tabs__tab_swipe" role="tab" type="button" data-tabs-tab="0">Таб 1</button>
                      <button class="tabs__tab tabs__tab_swipe" role="tab" type="button" data-tabs-tab="1">Таб 2</button>
                    </div>
                  </header>
                  <main class="tabs__content">
                    <section class="tabs__pane" data-tabs-pane="0">Контент 1</section>
                    <section class="tabs__pane" data-tabs-pane="1">Контент 2</section>
                  </main>
                </div>
              </div>
            </div>
            <div class="tmp__row">
              <div class="tmp__title">Табы кнопки</div>
              <div class="tmp__box">
                <div class="tabs" data-tabs="2" data-tabs-current="1">
                  <header class="tabs__header">
                    <div class="tabs__nav" role="tablist">
                      <button class="tabs__tab tabs__tab_button tabs__tab_active" role="tab" type="button" data-tabs-tab="0">Таб 1</button>
                      <button class="tabs__tab tabs__tab_button" role="tab" type="button" data-tabs-tab="1">Таб 2</button>
                    </div>
                  </header>
                  <main class="tabs__content">
                    <section class="tabs__pane" data-tabs-pane="0">Контент 1</section>
                    <section class="tabs__pane" data-tabs-pane="1">Контент 2</section>
                  </main>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/ui/tabs.pug
extends ../../layouts/main-dir

block variables
  - var title = "Табы"
  - var pageClass = ''
  - var activePage = 'tabs'

block content
  .tmp
    .tmp__container
      .tmp__row
        a.tmp__title(href="/") Вернутся на главную
      .tmp__row
        .tmp__title Табы стандартные
        .tmp__box
          .tabs(data-tabs='1')
            header.tabs__header
              .tabs__nav(role="tablist")
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="0") Таб 1
                button.tabs__tab.tabs__tab_swipe(role="tab" type="button" data-tabs-tab="1") Таб 2
            main.tabs__content
              section.tabs__pane(data-tabs-pane="0") Контент 1
              section.tabs__pane(data-tabs-pane="1") Контент 2
      .tmp__row
        .tmp__title Табы кнопки
        .tmp__box
          .tabs(data-tabs='2' data-tabs-current="1")
            header.tabs__header
              .tabs__nav(role="tablist")
                button.tabs__tab.tabs__tab_button.tabs__tab_active(role="tab" type="button" data-tabs-tab="0") Таб 1
                button.tabs__tab.tabs__tab_button(role="tab" type="button" data-tabs-tab="1") Таб 2
            main.tabs__content
              section.tabs__pane(data-tabs-pane="0") Контент 1
              section.tabs__pane(data-tabs-pane="1") Контент 2
