src/pages/templates/news.pug
extends ../../layouts/main-dir

block variables
  - var title = "FAQ"
  - var pageClass = ''
  - var activePage = 'faq'

block content
  a.tmp__title(href="/") Вернутся на главную
  section.section
    .container
      .content

        .title-block
          span Последние новости

        .news.row
          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-8
            .card.card_direction_vertical
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

  section.section
    .container
      .content

        .title-block
          span Последние новости

        .news.row
          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

          .col-12
            .card.card_direction_horizontal-left
              .card__image.card__image_cover
                img(src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="" title="")
              .card__content
                span.card__sup Альбом
                h4.card__title American Football
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.
                span
                .button-group.card__button-group
                  button.button.button_view_secondary.button_size_medium
                    span.button__text Подробнее

docs/templates/news.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>FAQ</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main><a class="tmp__title" href="/">Вернутся на главную</a>
        <section class="section">
          <div class="container">
            <div class="content">
              <div class="title-block"><span>Последние новости</span></div>
              <div class="news row">
                <div class="col-8">
                  <div class="card card_direction_vertical">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="card card_direction_vertical">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="card card_direction_vertical">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="card card_direction_vertical">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="card card_direction_vertical">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="content">
              <div class="title-block"><span>Последние новости</span></div>
              <div class="news row">
                <div class="col-12">
                  <div class="card card_direction_horizontal-left">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card_direction_horizontal-left">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card_direction_horizontal-left">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card_direction_horizontal-left">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card_direction_horizontal-left">
                    <div class="card__image card__image_cover"><img src="https://images.unsplash.com/photo-1598343672916-de13ab0636ed?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=658&amp;q=80" alt="" title=""></div>
                    <div class="card__content"><span class="card__sup">Альбом</span>
                      <h4 class="card__title">American Football</h4>
                      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra malesuada sit nec vel nec. Et aliquet placerat pulvinar vitae auctor. Risus lacus, id nunc in viverra.</p><span></span>
                      <div class="button-group card__button-group">
                        <button class="button button_view_secondary button_size_medium"><span class="button__text">Подробнее</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="../assets/js/libs.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
