docs/index.html

<!-- VARIABLES--><!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Главная</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <main>
        <div class="tmp">
          <div class="tmp__container">
            <div class="tmp__row row">
              <div class="col-12 tmp__links">
                <h1 class="tmp__title">UI</h1><a class="tmp__link" href="ui/buttons.html">Кнопки</a><a class="tmp__link" href="ui/icons.html">Иконки</a><a class="tmp__link" href="ui/breadcrumbs.html">Хлебные крошки</a><a class="tmp__link" href="ui/tabs.html">Табы</a><a class="tmp__link" href="ui/checkbox.html">Чекбоксы</a><a class="tmp__link" href="ui/radio.html">Радио кнопки</a><a class="tmp__link" href="ui/switch.html">Свитчер</a><a class="tmp__link" href="ui/counter.html">Счетчик</a><a class="tmp__link" href="ui/list.html">Список</a><a class="tmp__link" href="ui/input.html">Инпуты</a><a class="tmp__link" href="ui/select.html">Селект</a><a class="tmp__link" href="ui/form.html">Форма</a><a class="tmp__link" href="ui/card.html">Карточка</a><a class="tmp__link" href="ui/board.html">Баннеры</a><a class="tmp__link" href="ui/slider.html">Слайдеры</a><a class="tmp__link" href="ui/faq.html">faq</a>
              </div>
              <div class="col-12 tmp__links">
                <h1 class="tmp__title">TEMPLATE</h1><a class="tmp__link" href="templates/faqs.html">faqs</a><a class="tmp__link" href="templates/news.html">news</a><a class="tmp__link" href="templates/catalog.html">catalog</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

src/pages/index.pug
extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .tmp
    .tmp__container
      .tmp__row.row
        .col-12.tmp__links
          h1.tmp__title UI
          a.tmp__link(href="ui/buttons.html") Кнопки
          a.tmp__link(href="ui/icons.html") Иконки
          a.tmp__link(href="ui/breadcrumbs.html") Хлебные крошки
          a.tmp__link(href="ui/tabs.html") Табы
          a.tmp__link(href="ui/checkbox.html") Чекбоксы
          a.tmp__link(href="ui/radio.html") Радио кнопки
          a.tmp__link(href="ui/switch.html") Свитчер
          a.tmp__link(href="ui/counter.html") Счетчик
          a.tmp__link(href="ui/list.html") Список
          a.tmp__link(href="ui/input.html") Инпуты
          a.tmp__link(href="ui/select.html") Селект
          a.tmp__link(href="ui/form.html") Форма
          a.tmp__link(href="ui/card.html") Карточка
          a.tmp__link(href="ui/board.html") Баннеры
          a.tmp__link(href="ui/slider.html") Слайдеры
          a.tmp__link(href="ui/faq.html") faq
        .col-12.tmp__links
          h1.tmp__title TEMPLATE
          a.tmp__link(href="templates/faqs.html") faqs
          a.tmp__link(href="templates/news.html") news
          a.tmp__link(href="templates/catalog.html") catalog
